# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production Build Output
dist/
build/

# Environment Variables & Secrets (PENTING)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor & System Files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?